{% extends "ProductosBase.html.twig" %}
{% block title %}
    Agregar producto
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="card">
                    <h5 class="card-title">Registro de productos</h5>
                    <div class="card-body">
                        {{form_start(form)}}
                        <div class="form-group">
                            {{form_label(form.nombre)}}
                            {{form_widget(form.nombre)}}
                            <span class="text-danger">{{form_errors(form.nombre)}}</span>
                        </div>

                        <div class="form-group">
                            {{form_label(form.claveProducto)}}
                            {{form_widget(form.claveProducto)}}
                            <span class="text-danger">{{form_errors(form.claveProducto)}}</span>
                        </div>

                        <div class="form-group">
                            {{form_label(form.precio)}}
                            {{form_widget(form.precio)}}
                            <span class="text-danger">{{form_errors(form.precio)}}</span>
                        </div>

                        <div class="form-group">
                            {{form_widget(form.Guardar)}}
                        </div>
                        {{form_end(form)}}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}