{% extends "ProductosBase.html.twig" %}
{% block title %}
    Productos
{% endblock %}

{% block body %}
    <div class="container">
         <div class="row">
            <div class="col-md-8 col-md-offset-3">
                 <h2>Productos</h2>
                 <hr />
                 <a href="{{ path('addProducto') }}" class="btn btn-success">Agregar producto</a>
                 <table id="listadoProductos" class="table table-bordered">
                    <thead>
                        <th>ID</th>
                        <th>Nombre</th>
                        <th>Clave</th>
                        <th>Precio</th>
                        <th>Acciones</th>
                    </thead>
                    <tbody>
                        {% for producto in productos %}
                        <tr>
                            <td>{{producto.idProducto}}</td>
                            <td>{{producto.nombre}}</td>
                            <td>{{producto.claveProducto}}</td>
                            <td>{{producto.precio}}</td>
                            <td>
                                <a href="{{path('deleteProducto', {id: producto.idProducto})}}" class="btn btn-danger">
                                    <i class="fas fa-trash-alt"></i>
                                </a>
                                <a href="{{path('editProducto', {id: producto.idProducto})}}" class="btn btn-warning">
                                    <i class="fas fa-edit"></i>
                                </a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                 </table>
            </div>
        </div>
    </div>
{% endblock %}